.profile-title {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-bottom: rem(45px);
  gap: rem(20px);
  .title-img {
    width: 120px;
    height: 120px;
    @include profile-img;
    margin: auto;
  }

  .info {
    display: grid;
    grid-template-rows: 25% 15% auto;
    .fullname {
      font-size: rem(32px);
    }
    .username {
      font-size: rem(14px);
    }
    .description {
      font-size: rem(16px);
      margin: auto;
      padding-top: 10px;
    }
  }

  .contacts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: rem(10px);
    .numbers {
      font-size: rem(12px);
      display: block;
      font-weight: bold;
    }
  }
  .connect-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    & > * {
      border: none;
      padding: 5px 15px;
    }
  }
}
