.post-preview {
  .post-container {
    background-color: grey;
    margin: auto;
    width: 300px;
    img {
      width: 100px;
    }
  }
textarea{

  // white-space: pre-wrap;
}

  .spotify-modal {
  }
}
