.post-preview {
  .post-container {
    position: relative;
    background-color: grey;
    margin: auto;
    width: 60vw;
    overflow: hidden;
    .media-item{
      position: absolute;
      img {
        width: 100px;
      }
    }
  }
textarea{

  // white-space: pre-wrap;
}

  .spotify-modal {
  }
}
