.post-edit {
  .media-bar {
    background-color: aqua;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .btn.spotify {
      position: relative;
    }
  }
  .post-container {
    position: relative;
    background-color: grey;
    margin: auto;
    width: 60vw;
    overflow: hidden;
    .media-item {
      position: absolute;
      top: 0;
      left: 0;
      height: fit-content;

      p{
        white-space: nowrap;
        font-family: 'Times New Roman', Times, serif;
      }
      width: fit-content;
      // transform: translate(-50%, -50%);
      // top: 50%;
      // left: 50%;
      img {
        width: 100px;
      }
     
    }
  }
}
